In [5]:
# Name:     Tariq Nawaz 
# Address:  Bannu KPK
# Mobile :  03205519719

In [6]:
# Q1

In [7]:
print('Twinkle twinklw little star','\n', '\t' ,
      'How I wonder what you are' , '\n', '\t \t',
      'Up above the world so high','\n','\t \t',
      'Like a diomond in the sky','\n',
      'Twinkle twinklw little star','\n', '\t' , 
      'How I wonder what you are')

Twinkle twinklw little star
 	 How I wonder what you are
 	 	 Up above the world so high
 	 	 Like a diomond in the sky
 Twinkle twinklw little star
 	 How I wonder what you are

In [8]:
# Q2

In [9]:
!python -V

Python 3.7.6

In [10]:
# OR

In [11]:
from platform import python_version

In [12]:
print(python_version())

3.7.6

In [13]:
# Q3

In [14]:
from datetime import datetime

In [15]:
dt=datetime.now()

In [16]:
print(dt)

2021-12-31 19:24:22.538747

In [17]:
# New Formate
dt_string=dt.strftime('%d/%m/%Y %H:%M:%S')
print(dt_string)

31/12/2021 19:24:22

In [18]:
# Q4

In [19]:
pi=22/7
r=float(input('Put value of Radius'))
area=pi * r * r
print(area)

Put value of Radius4
50.285714285714285

In [21]:
f_name=input('Enter your First Name: ')
l_name=input('Enter your last Name: ')
print(f_name[::-1],' ',l_name[::-1])

Enter your First Name: sd
Enter your last Name: hg
ds   gh

In [22]:
f_name=input('Enter your First Name: ')
l_name=input('Enter your last Name: ')
print(l_name,'',f_name)

Enter your First Name: fgh
Enter your last Name: hgf
hgf  fgh

In [23]:
# Q 5

In [24]:
v1=int(input('Put your first value'))
v2=int(input('Put your second value'))
v3= v1 + v2
print('Addition of v1 and v2 is :',v3)

Put your first value77
Put your second value66
Addition of v1 and v2 is : 143

In [ ]:
# Thanks To Sir Muhammad Ali Mughal